:root {
    --main-bg-color: #661A02;
    --secondary-bg-color: #D9D9D9;
    --hover-bg-color: #870400;
    --dark-text-color: #1D1B20;
    --light-text-color: #CAC4D0;
    --button-shadow-color: rgba(21, 19, 19, 0.2);
    --card-color: #FAFAFA;

    --yellow-green: #00c400; /* Yellow Green */
    --yellow: #FFD700; /* Yellow */
    --orange: #FFA500; /* Orange */
}

/* General Styles */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
}
.header img {
    max-width: 50px;
}
.card {
    box-shadow: 0 2px 8px var(--button-shadow-color); /* Shadow all around */
    border: none;
    background-color: var(--card-color);
}
.container {
    flex: 1;
}
.bg-red {
    background-color: var(--main-bg-color);
}
.social-icons a {
    font-size: 1.5rem;
}

/* Button Styles */
.landing-page-btn {
    background-color: var(--secondary-bg-color);
    border: none;
    color: var(--dark-text-color);
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px var(--button-shadow-color);
}
.landing-page-btn:hover {
    background-color: var(--main-bg-color);
    color: var(--light-text-color);
}
.landing-page-btn:hover img {
    filter: invert(85%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(85%) contrast(85%);
}
.landing-page-btn.p-4 {
    padding: 1.5rem;
}
.btn-red {
    background-color: var(--main-bg-color);
    color: var(--light-text-color);
}
.btn-red:hover {
    background-color: var(--hover-bg-color);
    color: var(--light-text-color);
}
.btn-transparent {
    background-color: transparent;
    border: none;
    color: var(--main-bg-color);
}
.btn-transparent:hover {
    border: none;
    background-color: var(--hover-bg-color);
    color: var(--light-text-color);
}


  

/* Rating Scheme Styles*/
.badge {
    font-size: 1rem;
    padding: 0.4em;
    width: 20px;
    display: inline-block;
    text-align: center;
}
.bg-yellow-green {
    background-color: var(--yellow-green);
}
.bg-yellow {
    background-color: var(--yellow);
}
.bg-orange {
    background-color: var(--orange);
}

/* Switch Button Styles */
.custom-switch {
    position: relative;
    display: inline-block;
    width: 48px; 
    height: 28px; 
    margin-right: 10px; 
}
.custom-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.custom-switch input:checked + .form-check-label {
    background-color: var(--main-bg-color);
}
.custom-switch .form-check-label {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
    background-color: var(--secondary-bg-color);
    border-radius: 20px; 
}
.custom-switch .form-check-label::before {
    position: absolute;
    content: "";
    left: 5px;
    top: 4px;
    width: 20px; /* Width of the switch handle */
    height: 20px; /* Height of the switch handle */
    background-color: white;
    border-radius: 50%; /* Ensure it's round */
    transition: 0.3s;
}
.custom-switch input:checked + .form-check-label::before {
    transform: translateX(18px); /* Move the switch handle to the right when checked */
}

/* LikertScale Styles*/

.likert-scale {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
}
.likert-scale input[type="radio"] {
    display: none;
}
.likert-scale label {
    background: #e0e0e0;
    padding: 5px;
    cursor: pointer;
    text-align: center;
    flex: 1;
    position: relative;
    min-width: 200px;
}
.likert-scale label:hover {
    background: #d0d0d0;
}
.likert-scale input[type="radio"]:checked + label::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #000;
}

.likert-scale .scale-1 label {
    background-color: #ff4c4c;
    border-radius: 24px 0 0 24px;
}
.likert-scale .scale-2 label {
    background-color: var(--orange);
}
.likert-scale .scale-3 label {
    background-color: var(--yellow);
}
.likert-scale .scale-4 label {
    background-color: var(--yellow-green);
}
.likert-scale .scale-5 label {
    background-color: #06810a;
    border-radius: 0 24px 24px 0;
}

@media (max-width: 768px) {
    .likert-scale label {
        padding: 8px;
        width: 100%;
        font-size: 0.9rem;
        border-radius: 5px;
    }

    .likert-scale .scale-1 label {
        border-radius: 5px;
    }

    .likert-scale .scale-5 label {
        border-radius: 5px;
    }
}

@media (max-width: 576px) {
    .likert-scale {
        flex-direction: column;
    }
    .likert-scale label {
        margin-bottom: 20px;
    }
}


/* Tab Navigation Styles */

.nav-tabs .nav-link {
    color: #fff;
    background-color: var(--main-bg-color); /* Bootstrap's red color */
    border: 1px solid var(--main-bg-color);
    border-radius: 10px; /* Set border radius here */
}
.nav-tabs .nav-link.active {
    color: var(--main-bg-color);
    background-color: #fff;
    border-color: var(--main-bg-color);
}
.nav-tabs {
    border-radius: 10px;
    background-color: var(--main-bg-color); /* Bootstrap's red color */
}


/* Custom styles for active item in sidebar */
.list-group-item.active {
    background-color: var(--main-bg-color); /* Change this to your desired active item background color */
    border-color: var(--main-bg-color); /* Change this to match the background color for consistency */
    color: #fff; /* Change this to your desired active item text color */
}

.list-group-item.active:hover {
    background-color: var(--main-bg-color); /* Adjust hover color if needed */
    border-color: var(--main-bg-color); /* Adjust hover border color if needed */
}
